@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.main{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 75%;
}
.container{
    
    display: flex;
    position: absolute;
    width: 350px;
    height: 550px;
    margin-top: 5vh;
    margin-left: 15vh;
    
}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.coreano , .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}
.coreano{
    background-image: url(../../../../imgStreamer/Coreano.png);
    background-size: cover;
}

.back{
    background-image: linear-gradient(#695cfe,#0a0a0a);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 10px;
    padding: center;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(10, 10, 10);
    
}
.back span{
    color: #e4e9f7;
    text-shadow: 1px 1px 5px rgb(10, 10, 10);
}

.main .bio{
    display: flex;
    padding-left: 55vh;
    padding-top: 5vh;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    text-align: auto;
    text-shadow: 0px 1px 2px rgb(10, 10, 10);
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon1{
    display: flex;
    padding-left:80vh;
    width: 100%;
} 


.btn {
    line-height: 90px;
    font-size:25px;
    transition: 0.2s;
}

.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #fff;
    margin: 10px;
    border-radius:30% ;
    position: relative;
    box-shadow: 0 5px 15px -5px #0a0a0a;
    color: #695cfe;
    overflow: hidden;
}
.btn:hover{
    transform: scale(1.4);
}
