.listarea {
    padding-left: 20px; 
 }
 
 .itens {
     display: inline-block;
     width: 1500px;
 }
 
 .itens img {
     width: 290px;
     transform: scale(0.9);
     transition: all ease 0.2s;
     border: 5px solid #262626;
 }
 
 .itens img:hover {
     transform: scale(1);
 }