.listarea {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
 }

 .itens {
     padding-left: 90px;
     display: flex;
     width: 100%;
     margin-top: -150px;
     justify-content: flex-start;
     flex-wrap: wrap;
     align-content: flex-end;

 }
 
 .itens img {
     width: 290px;
     transform: scale(0.9);
     transition: all ease 0.2s;
     border: 5px solid #695cfe;
 }
 
 .itens img:hover {
     transform: scale(1);
 }
.filtro{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    color: aliceblue;
    
      
}
.roxo{
    color: #695cfe;
}