.listarea {
    display: flex;
    padding-left: 90px;
 }

 .itens {
     display: inline-block;
     width: flex;
 }
 
 .itens img {
     width: 290px;
     transform: scale(0.9);
     transition: all ease 0.2s;
     border: 5px solid #695cfe;
 }
 
 .itens img:hover {
     transform: scale(1);
 }